$title-color: #000;
$text-color: #000;
$subtitle-color: #333;
$tier2-color: #7d809a;

$border-color: #7d809a;
// $border-color: #575861;
$border-color-light: #919191;
$theme-color: #ad5cff;
$error-color: #e8514c;
$card-color-1: #171821;
$card-color-2: #1e202b;
$card-color-3: #2f3141;
$background-color: #fff;

$default-border: 1px solid $border-color;

@mixin clickable {
    position: relative;
    user-select: none;
    cursor: pointer;
    &:hover {
        &::after {
            content: '';
            z-index: 1;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.06);
            border-radius: inherit;
        }
    }
}

@mixin scrollbar {
    ::-webkit-scrollbar {
        width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #1e202b;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;

        background: transparent;
    }
}
@mixin absolute-centered {
    position: absolute;
    margin: auto;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    top: -9999px;
}

@mixin flex-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ellipsis($line) {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
    text-overflow: ellipsis;

    @if $line==1 {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
    }
}

@mixin colorful($color: linear-gradient(112.94deg, #a067ff 28.07%, #ff6262 108.18%)) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

@mixin colorfulBg($color: linear-gradient(106deg, #634fff 29.66%, #ff5f5f 113.07%)) {
    background: $color;
}

@mixin colorfulBorderProperties($width, $color: linear-gradient(106.31deg, #844fff, #ff5f5f)) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$width;
    border-radius: inherit;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.13, 0 0.66, 0.96, 0.67);
    background: $color;
}
